#banner {
    height: 100pt;
    background-image: url('/assets/images/banner.png');
    background-size: 100%;
    font-size: large;
}

#logo {
    height: 40pt;
    margin: 5pt;
    vertical-align: middle;
}

.left {
    /* workaround */
    width: 150pt;
}
