#banner {
    background-color: #8AC5FF;
    width: 100%;
    height: 100pt;
    display: table;
    position: fixed;
}

#banner * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
