<div id='banner' class='infobar'>
    <div class='left'>
        <!-- left -->
    </div>
    <a routerLink="/">
        <h1>
            <!-- center -->
            <img id='logo' src="/assets/videos/cube.gif">
            {{title}}
        </h1>
    </a>
    <div>
        <!-- right -->
        <button class='button'>
            <fa-icon [icon]="faSignIn"></fa-icon> Login
        </button>
        <a class="button" routerLink="/upload">
            <div>
                <fa-icon [icon]="faUpload"></fa-icon> Upload
            </div>
        </a>
    </div>
</div>
<router-outlet></router-outlet>