#banner {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100pt;
    background-image: url('/assets/images/banner.png');
    background-size: 100%;
    font-size: large;
    border-bottom: thin solid #cccccc;
}

#banner > a {
    grid-column-start: 2;
    place-self: center center;
}

#banner > div {
    grid-column-start: 3;
    place-self: end end;
}

#logo {
    height: 40pt;
    margin: 5pt;
    vertical-align: middle;
}
