<div id='banner'>
    <a routerLink='/'>
        <h1>
            <img id='logo' src='/assets/videos/cube.gif'>
            {{title}}
        </h1>
    </a>
    <div>
        <div *ngIf='authService.isLoggedIn(); else loggedOut'>
            <a class='button' routerLink='/upload'>
                <fa-icon [icon]='faUpload'></fa-icon> Upload
            </a>
            <button class='button' (click)='authService.logout()'>
                <fa-icon [icon]='faSignOut'></fa-icon> Logout
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<ng-template #loggedOut>
    <a class='button' routerLink='/login'>
        <fa-icon [icon]='faSignIn'></fa-icon> Login
    </a>
</ng-template>