<div class='dashboard'>
    <div class='panel'>
        <div class='titlebar'>
            <h2>Login</h2>
        </div>
        <form [formGroup]='loginForm' class='form'>
            <div class='inputbar'>
                <label>Username:</label>
                <input name='username' formControlName='username' type='text' placeholder='Username' required>
            </div>
            <div class='inputbar'>
                <label>Password:</label>
                <input name='password' formControlName='password' type='password' placeholder='Password' required>
            </div>
            <button class='button' (click)='login()'>Login</button>
        </form>
    </div>
</div>