<div class='dashboard'>
    <div class='panel'>
        <div class='titlebar'>
            <h2>Login</h2>
        </div>
        <form id="loginForm" #loginForm="ngForm" class="form" (ngSubmit)="onSubmit($event)">
            <div class="inputbar">
                <label for="name">Username:</label>
                <input type="text" #username="ngModel" id="name" name="name" [(ngModel)]="name" placeholder="Username"
                    required>
                <div [hidden]="name.valid || name.pristine" class="info alert">
                    <fa-icon [icon]="faWarning"></fa-icon> Username is required!
                </div>
            </div>
            <div class="inputbar">
                <label for="password">Password:</label>
                <input type="password" #pasword="ngModel" id="password" name="password" [(ngModel)]="password"
                    placeholder="Password" required>
                <div [hidden]="password.valid || password.pristine" class="info alert">
                    <fa-icon [icon]="faWarning"></fa-icon> Password is required!
                </div>
            </div>
            <button type="submit" class="button" [disabled]="!loginForm.form.valid">Login</button>
        </form>
    </div>
</div>