<div *ngIf='model; else noModel'>
    <h2>{{model.name}}</h2>
    <div id="uploader">Uploaded by {{model.uploaderId}} on {{model.creationDate | date : "dd.MM.yyyy" : "UTC"}}
    </div>
    <app-viewer [filename]="model.modelFilename"></app-viewer>
    <a href="/assets/models/{{model.modelFilename}}">
        <div class="button">
            <fa-icon [icon]="faDownload"></fa-icon> Download (.{{model.modelFilename | fileExtension}})
        </div>
    </a>
</div>
<ng-template #noModel>
    <app-not-found></app-not-found>
</ng-template>