<div *ngIf='model' class='dashboard'>
    <div class='panel'>
        <div class='titlebar'>
            <h2>{{model.name}}</h2>
        </div>
        <app-viewer [filename]="model.filename" [filetype]="model.filetype"></app-viewer>
        <div class='infobar'>
            <div class="info">
                <fa-icon [icon]="faUser"></fa-icon> Uploaded by {{model.uploaderId}}
            </div>
            <div class="info">
                <fa-icon [icon]="faDate"></fa-icon> Published on
                {{model.creationDate | date : "dd.MM.yyyy" : "UTC"}}
            </div>
            <a class="button" href="/assets/models/{{model.filename}}" download="{{model.name}}.{{model.filetype}}">
                <div>
                    <fa-icon [icon]="faDownload"></fa-icon>
                    Download (.{{model.filetype}})
                </div>
            </a>
        </div>
    </div>
</div>