.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    height: 500pt;
    width: fit-content;
    padding: 10pt;
    margin: 10pt;
}

img {
    height: 100%;
}
