.preview-image {
    width: 280pt;
    height: 210pt;
    max-width: 100%;
    border-radius: 3pt;
    background-color: #fbfbfb;
    background-position: center;
}

.filterbar {
    background-color: #f0f0f0;
    border-bottom: thin solid #cccccc;
}

label {
    margin: 5pt;
    color: #666666;
    font-size: medium;
}
