label {
    width: 100pt;
}

input {
    width: 250pt;
}

/* pseudo-element to tell angular to apply style to dynamically generated element */
::ng-deep #viewport > canvas {
    width: 280pt !important;
}
