#viewport {
    display: inline-block;
    position: relative;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* pseudo-element to tell angular to apply style to dynamically generated element */
::ng-deep #viewport > canvas {
    max-width: 100%;
    height: auto !important; /* needed because threejs uses element styling for width/height */
}
